rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSulthanAdmin() {
      return request.auth != null
        && request.auth.token.email == 'admin@sulthanbuphone.com';
    }

    match /demo-products/{id} {
      allow read, write: if isSulthanAdmin();
    }

    match /demo-transactions/{id} {
      allow read, update, delete: if isSulthanAdmin();
      allow create: if isSulthanAdmin()
        && request.resource.data.createdBy == request.auth.token.email
        && request.resource.data.timestamp == request.time;
    }

    match /demo-customers/{id} {
      allow read, write: if isSulthanAdmin();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
